{
    "arrowParens": "always",
    "bracketSameLine": false,
    "jsxBracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "objectWrap": "collapse",
    "printWidth": 90,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "experimentalTernaries": false,
    "overrides": [
        {
            "files": ["**/*.html"],
            "options": {
                "printWidth": 150
            }
        },
        {
            "files": ["**/*.py"],
            "options": {
                "printWidth": 150,
                "tabWidth": 4
            }
        }
    ]
}
